@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,300');

* {
  box-sizing: border-box;
}
body {
  /* overwrite library css */
  font-family: Roboto !important;
  background: #f0f0f0 !important;
  min-height: 100vh !important;
}

/* main page layout */

.main-header {
  width: 100%;
  height: 6em;
  text-align: center;
  background: #bb0000; /* youtube brand color */
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header img{
  height: 100%;
  margin: 0 2em;
}
footer {
  width: 100%;
  height: 3em;
  background: #440000; /* youtube brand color */
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
footer a:hover,
footer a:visited,
footer a {
  text-decoration: none;
  color: #fff;
}
.footer-divider {
  margin: 0 1em;
}
footer .author {
  padding: 0 0.5em;
}

.two-column {
  margin: 4em auto;
  width: 100%;
  max-width: 1280px;
  background: #fff;
  display: flex;
}
.fixed-panel {
  flex-grow: 0;
  flex-shrink: 0;
  width: 360px;
  border-right: 1px solid #000;
}
.fluid-panel {
  flex-grow: 2;
}
/* utils */
h2 {
  border-top: 1px solid #222;
  line-height: 2em;
  background-color: #f6f6f6;
  padding-left: 0.5em;
}
h2:before {
  content: "";
  display: block;
  width: 35%;
  height: 3px;
  background: #222;
  margin-left: -0.5em;
}
.dark {
  background: #222;
  color: #fefefe;
}
.dark h2 {
  background: #444;
  color: #f6f6f6;
  border-top: 1px solid #cd201f;
}
.dark h2:before {
  background: transparent;
}
.light {
  background: #fff;
  color: #222;
}
.with-padding {
  padding: 1em;
}
.with-padding-y {
  padding: 1em 0;
}
.centering {
  text-align: center;
}
.full-height {
  min-height: 100vh;
  height: 100%;
}
.bottom-spacing {
  margin-bottom: 2em;
}
.divider-bottom {
  width: 100%;
  margin-bottom: 2em;
}
.divider-bottom:after {
  margin-top: 1.5em;
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #baa;
  height: 0.5em;
  margin-bottom: 0.5em;
}
.divider-bottom.dark:after {
  border-bottom: 1px solid #ccc;
}
.sq-ratio-wrapper,
.asp-ratio-wrapper {
  width: 100%;
  display: block;
  position: relative;
}
.asp-ratio-wrapper:after {
  padding-top: 42%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.sq-ratio-wrapper:after {
  padding-top: 88%;
  display: block;
  content: '';
}
.asp-ratio-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.form-error {
  color: #f44;
}

/* histograms */

.hists {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-hist {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 25px;
  border: 2px dashed #222;
  padding: 90px 15px 0; 
  cursor: pointer;
  text-align: center;
}
.add-hist-small {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  margin: 25px;
  border: 2px dashed #222;
  padding: 15px 15px 0; 
  cursor: pointer;
  text-align: center;
}
.close-button {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 18px;
  cursor: pointer;
}

.grids line,
.grids path {
  opacity: 0.1;
  stroke-dasharray: 1 2;
}

/* tasks */
.task {
  width: 100%;
  margin: 1.5rem auto;
  max-width: 960px;
  font-size: 1.2em;
  background-color:rgb(255,255,255);
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0.5em 1em;
}
.task-title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.75em;
}
.task-body {

}
.task:first-child {
  margin-top: 5em;
}

/* misc */
.no-date .time-axis .content .time-axis-tier:last-child text {
  fill: transparent;
}
